.Rproj.user/**
revdep/**
tests/testthat/*.pdf
tests/testthat/*.xlsx
tests/testthat/*.docx
tests/testthat/*.pptx
tests/testthat/*.aux
tests/testthat/temp-artefacts/**
delete-appveyor-cache.sh
.Rhistory
.RData
.Ruserdata
.Rproj.user
*.synctex.gz
*.log
*.dvi
.DS_Store
inst/doc
scripts/*.pdf
scripts/*.tex
scripts/*.html
scripts/*.docx
scripts/*.xlsx
/doc/
/Meta/
