<html>
<body>


<!--begin.rcode echo = FALSE, error = FALSE
library(huxtable)
g <- guess_knitr_output_format()
stopifnot(g == 'html')
cat('guess_knitr_output_format() returned ', g)
end.rcode-->


</body>
</html>
