<html>

<head>
<title>Huxtable - an R package for writing LaTeX and HTML tables</title>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $("#example-container").tabs();
  } );
</script>

<style type="text/css">
p {
  margin-top: 24pt;
  margin-bottom: 12pt;
}

a {
  color: #550B6E;
  font-weight: bold;
}

body {
  background-color: #F0EEEE;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body:after {
    content: ' ';
    display: block;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 250%;
    z-index: -1;
    background-image: url("assets/mayhew.png");
    opacity: 0.35;
}

main {
  background-color: white;
  border: 1px solid grey;
  max-width: 1000px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 5% 5% 5%;
  box-shadow: 0px 0px 5px 2px #7D5777;
}

.centred {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.source {
  /*background-color: #FFFA98;*/
  margin-bottom: 20px;
  margin-top: 0px;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}


.ui-tabs .source {
  position: relative;
  top: 15px;
}


pre.knitr {
  margin-top: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.ui-tabs {
  position: relative;
  top: 15px;
  width: 100%;
  padding-bottom: 20px;
  border-collapse: collapse;
}


.ui-tabs .ui-tabs-nav {
  list-style: none;
  overflow: hidden;
  z-index: 1000;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  background: white;
  width: 100%;
}


.ui-tabs .ui-tabs-nav li {
  position: relative;
  float: left;
  width: 20%;
  line-height: 30px;
  background: white;
  border-radius: 3px 3px 0px 0px;
  border: 1px solid grey;
  box-sizing: border-box;
}

.ui-tabs .ui-tabs-nav li a {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: normal;
  padding: 5px 10px;
  font-size: 0.8em
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  border-bottom-width: 0;
}

.ui-tabs .ui-tabs-panel {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 470px;
  overflow: scroll;
}

figure {
  border: 1px solid #DDD;
  padding: 8px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  border-radius: 5px;
}

#ex-condformat table {
  font-size: 0.8em;
}


#ex-huxreg table {
  font-size: 0.75em;
}

#youtube {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

</style>
</head>
<body>

<main>

<!--begin.rcode logo, echo = FALSE, results = 'asis'

suppressPackageStartupMessages(suppressWarnings(library(huxtable)))
hux_logo()

end.rcode-->

<p>&nbsp;</p>

<!-- Generated as a huxtable table, ignoring all rules of modern web design -->

<!--begin.rcode links, echo = FALSE, results = 'asis'

ht <- hux('<a href = "huxtable.html">Introduction</a>',
      '<a href = "design-principles.html">Design</a>',
      '<a href="reference/index.html">Documentation</a>',
      '<a href = "https://github.com/hughjonesd/huxtable">Github</a>',
      '<a href = "https://github.com/hughjonesd/huxtable/issues">Bugs</a>')
escape_contents(ht) <- FALSE
right_border(ht)[,1:4] <- 1
width(ht) <- .8
align(ht) <- 'center'
ht
end.rcode-->



<p>Huxtable is an R package for creating HTML and LaTeX tables. It provides similar
functionality to xtable, but more, with a simpler interface. Features include control over text styling,
number format, background color, borders, padding
and alignment. Cells can span multiple rows and/or columns. Tables can be manipulated with standard R subsetting or
<code>dplyr</code> functions. Here are some quick examples:
</p>

<div id="example-container">
<ul>
  <li><a href="#ex-simple">Simple table</a></li>
  <li><a href="#ex-pipe">Pipe interface</a></li>
  <li><a href="#ex-condformat">Conditional formatting</a></li>
  <li><a href="#ex-huxreg">Table of regressions</a></li>
  <li><a href="#ex-quick">Quick document</a></li>
</ul>
<div class="example" id="ex-simple">
<!--begin.rcode echo = TRUE, results = 'asis', code = readLines('example-basic.R')

end.rcode-->
</div>

<div class="example" id="ex-pipe">
<!--begin.rcode echo = TRUE, results = 'asis'

library(magrittr)
ht <- hux(
        Employee = c('John Smith', 'Jane Doe', 'David Hugh-Jones'),
        Salary = c(50000, 50000, 40000),
        add_colnames = TRUE
      )

ht                                        %>%
      set_bold(1, everywhere, TRUE)       %>%
      set_bottom_border(1, everywhere, 1) %>%
      set_align(everywhere, 2, 'right')   %>%
      set_right_padding(10)               %>%
      set_left_padding(10)                %>%
      set_width(0.35)                     %>%
      set_number_format(2)

end.rcode-->
</div>

<div class="example" id="ex-condformat">
<!--begin.rcode echo = TRUE, results = 'asis'

library(psych)
data(attitude)
att_corr <- corr.test(as.matrix(attitude))

as_hux(att_corr$r)                                                             %>%
      set_background_color(where(att_corr$p < 0.05), 'yellow')                 %>%
      set_background_color(where(att_corr$p < 0.01), 'orange')                 %>%
      set_background_color(where(row(att_corr$p) == col(att_corr$p)), 'white') %>%
      huxtable::add_rownames(colname = '')                                     %>%
      huxtable::add_colnames()                                                 %>%
      set_all_borders(1)                                                       %>%
      set_number_format(2)

end.rcode-->
</div>

<div class="example" id="ex-huxreg">
<!--begin.rcode echo = TRUE, results = 'asis'

data(diamonds, package = 'ggplot2')

lm1 <- lm(log(price) ~ carat, diamonds)
lm2 <- lm(log(price) ~ depth, diamonds)
lm3 <- lm(log(price) ~ carat + depth, diamonds)

huxreg(lm1, lm2, lm3)
end.rcode-->
</div>

<div class="example" id="ex-quick">
<!--begin.rcode echo = TRUE, eval = FALSE, results = 'asis'

quick_pdf(mtcars)
quick_docx(mtcars)
quick_html(mtcars)
quick_xlsx(mtcars)
# Files are produced in the current working directory.

end.rcode-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/XzGabWGo6NE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="youtube"></iframe>
</div>

</div>



<p>To learn more, check out the vignette in <a href="huxtable.html">HTML</a> or <a href="huxtable.pdf">PDF</a> format, or the original <a href="huxtable.Rmd">R Markdown</a>. Or,
read the <a href="design-principles.html">design principles</a> behind huxtable, including a comparison
with other R packages to create tables.</p>


<h3>News</h3>

<ht>July 31, 2018: Huxtable 4.1.0 released</h4>

<p>This minor version bump adds a little more functionality and a lot more speed.</p>

<ul>
<li>Speedups of up to 10x for HTML, 4x for LaTeX.</li>
<li>Many packages have moved to Suggests: so you can use huxtable without e.g. knitr
  or rmarkdown.</li>
<li>And a cool new logo :-)</li>
</ul>

<h4>June 2, 2018: Huxtable 4.0.0 released</h4>

<p>This release brings some changes. The most important are:</p>

<ul>
<li>Huxtable automatically pretty-prints data frames within <code>knitr</code> documents.</li>
<li>Column alignment and number format is assigned automatically for different data types.</li>
</ul>

<p>These are breaking changes, so you can set options to go back to the old behaviour.</p>

<p>One other change is being introduced gradually: <code>add_colnames</code> will be set to
<code>TRUE</code> by default in a future release. To future-proof your code, you can enable this
behaviour by setting <code>options(huxtable.add_colnames = TRUE)</code>.

<p>Other changes include a new <code>theme_plain</code> theme; automatically opening documents created by <code>quick_pdf</code> and
friends; and several bugfixes. Please
report any bugs in the <a href="https://github.com/hughjonesd/huxtable/issues">usual place</a>.</p>

<h4>February 23, 2018: Huxtable 3.0.0 released</h4>

<p>The major version bump marks a (small) change in the <code>quick_xxx</code> function
API: if called without an explicit <code>file</code> argument, these functions will
fail when called non-interactively, and will prompt before overwriting files if called
interactively. This prevents nasty surprises.</p>

<p>Excel output is now supported using the <a href="https://github.com/awalker89/openxlsx">openxlsx</a> package. Those working in a corporate environment can now create formatted spreadsheets to
make the pointy-haired boss happy.</p>

<p>You can now select columns using dplyr-style select helpers like <code>matches()</code> and
<code>starts_with()</code> in <code>set_*</code> functions.</p>


<figure>
<img src="assets/hux_logo-excel.png" alt="Huxtable logo in Excel" class="centred" style="margin-bottom: 8px; width: 400px;">
<figcaption style="text-align:center;">Printing the huxtable logo into an Excel spreadsheet</figcaption>
</figure>

<h4>January 3, 2018: Huxtable 2.0.0 released</h4>

<p>The major version bump marks a change in how numbers are shown. Numeric formatting
via <code>number_format</code>
now applies to any number found in a cell, even if there are non-numeric characters. This
means that e.g. cells like "2.71 (1.4) <sup>**</sup>" will have both numbers formatted.
</p>
<p>There are also new <code>quick_pdf</code>, <code>quick_html</code> and <code>quick_docx</code>
functions, for quick output of data frames or similar objects in different formats.</p>

<h4>October 2017: Huxtable 1.0.0 released!</h4>

<p>New features include:</p>
<ul>
<li>RJava-free export to Word and Powerpoint with <a href="https://davidgohel.github.io/officer/">officer</a></li>
<li>Variable border widths in LaTeX</li>
<li>On-screen color - works in R terminal or latest RStudio daily builds</li>
</ul>

<figure>
<img src="screen-color.png" alt="On-screen color" class="centred" style="margin-bottom: 8px;">
<figcaption style="text-align:center;">Going back to the 80s with on-screen color</figcaption>
</figure>

<h3>Installation</h3>

<p>From CRAN:</p>

<!--begin.rcode CRAN, echo = TRUE, eval = FALSE
install.packages('huxtable')
end.rcode-->

<p>Development version from github:</p>

<!--begin.rcode install, echo = TRUE, eval = FALSE

library(devtools)
install_github('hughjonesd/huxtable')
end.rcode-->

<h3>The name</h3>

<p>Huxtable could stand for "Happy User Xtable", or if you prefer, "Hyped Up Xtable", or for Germans maybe
"Html Und teX Table".</p>

<h3>Trivia</h3>
<p>The logo above was also generated by a huxtable, using <code>hux_logo()</code>.
The web page background is a statistical table from Mayhew's
<i>London Labour and the London Poor</i>, a classic of Victorian social science.</p>

</main>

</body>
</html>
